<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>J2EE Assignment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>user</param-name>
    <param-value>Patel</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>patel990</param-value>
  </context-param>
  <servlet>
    <servlet-name>om</servlet-name>
    <servlet-class>com.practicals.Practical_1</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>Mashuk</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>Mashuk123</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>om</servlet-name>
    <url-pattern>/mashuk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Practical_1</display-name>
    <servlet-name>Practical_1</servlet-name>
    <servlet-class>com.practicals.Practical_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Practical_1</servlet-name>
    <url-pattern>/Practical_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Practical_2</display-name>
    <servlet-name>Practical_2</servlet-name>
    <servlet-class>com.practicals.Practical_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Practical_2</servlet-name>
    <url-pattern>/Practical_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Practical_3</display-name>
    <servlet-name>Practical_3</servlet-name>
    <servlet-class>com.practicals.Practical_3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Practical_3</servlet-name>
    <url-pattern>/Practical_3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>database</display-name>
    <servlet-name>database</servlet-name>
    <servlet-class>com.practicals.database</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>database</servlet-name>
    <url-pattern>/database</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
</web-app>